@import url("https://fonts.google.com/share?selection.family=Oswald:wght@200..700|Roboto+Condensed:ital,wght@0,100..900;1,100..900|Roboto:wght@500;700");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  font-family: "Roboto cpndensed", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../public/assets/bg3.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.container{
  width: 400px;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(112,230,243, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.06);
  color: rgb(168, 153, 153)
}

.cityInput::placeholder{
  color: #999;
}

.search-icon{
  padding: 0px 10px 10px 10px;
  height: 30px;
  cursor: pointer;
}

.favorite-icon{
  height: 30px;
  float: inline-end;
  margin-top: 6px;
  cursor: pointer;
}

.search-icon img{
  margin-top: 5px;
}

.image{
  text-align: center;
  height: 100px;
  margin-bottom: 10px;
}

.image img{
  width: 130px;
  height: 130px;
}

.temp, .location,
.country{
  margin-top: 5px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.temp{
  font-weight: 900;
}

.location{
  color: #ffbc00;
  font-weight: 600;
  font-size: 40px;
}

.country{
  font-size: 20px;
  color: #999;
  font-weight:700;
}

.data-container {
  display: flex;
  justify-content: space-between; /* Distribute space between columns evenly */
  align-items: center; /* Align items vertically */
  margin-top: 20px;
}

.element {
  flex: 1; /* Equal width for each column */
  text-align: center;
}

.icon {
  height: 50px; /* Maintain image size */
  width: 50px;
  margin-top: 0; /* Adjust margin as needed */
}

.text {
  font-size: 12px;
  color: black;
}

.data {
  margin-top: 10px; /* Adjust spacing between icon and data */
}

.humidity-percent,
.wind-speed {
  font-size: 18px;
  font-weight: bold;
  color: #111;
  padding-top: 5px;
}

.co-ordinates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 0px;
  text-align: center;
}

.co-ordinates > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.co-ordinates > div span {
  font-size: 15px;
  font-weight: bold;
}

.copyright{
  text-align: center;
  font-size: 12px;
  color: #f9f7f7;
  margin-top: 17px;
  margin-bottom: -5px;
}

.copyright span{
  color: #111;
}

.loading-message,
.error-message,
.city-not-found{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.forecast-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.forecast-day {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(px);
  border: 1px solid rgb(112,230,243, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.forecast-day img {
  width: 50px;
  height: 50px;
}

.forecast-date {
  font-weight: bold;
}

.forecast-temp {
  font-size: 1.em;
}

.favorites-button {
  padding: 7px 15px;
  background-color: rgb(4, 183, 254);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(112,230,243, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  color: rgb(255, 255, 255); 
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.favorites-button:hover {
  background-color: #5b9fe3; 
}


.favorites-container h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffbc00;
  margin-bottom: 20px;
}

.favorites-list {
  list-style-type: none;
  padding: 0;
}

.favorites-list li {
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.favorites-list li:last-child {
  border-bottom: none;
}

.home-button {
  display: inline-block;
  padding: 7px 15px;
  background-color: rgb(4, 183, 254);
  backdrop-filter: blur(30px);
  border: 2px solid rgb(112,230,243, 0.3);
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  color: white; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.home-button:hover {
  background-color: #5b9fe3;
}
